.block {
  margin-left: 60px;
}
.text {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .block {
    margin-left: 20px;
  }
  .text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .block {
    margin-left: 20px;
  }
  .text {
    margin-bottom: 10px;
  }
}
