.input {
  border-radius: 10px;
  width: 500px;
  height: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .input {
    width: 370px;
    height: 85px;
  }
}
@media screen and (max-width: 767px) {
  .input {
    max-width: 292px;
    height: 90px;
  }
}
