.PrimaryInput {
  border-radius: 10px;
  width: 250px;
  height: 56px;
  border-width: 2px;
  border-color: #7a7a7a;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  background-color: #f1f1f1;
}

.SecondaryInput {
  border-radius: 10px;
  width: 120px;
  height: 56px;
  border-width: 2px;
  border-color: #7a7a7a;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  background-color: #f1f1f1;
}
.Primary {
  border-radius: 10px;
  border-width: 2px;
  border-color: #7a7a7a;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  background-color: #f1f1f1;
}